<nav class="bg-gray-800 text-white">
    <div class="container mx-auto px-4">
        <ul class="flex space-x-4 py-4">
            <li>
                <a href="#" class="hover:text-gray-300">Patients</a>
            </li>
            <li>
                <a href="#" class="hover:text-gray-300">Physios</a>
            </li>
            <li>
                <a href="#" class="hover:text-gray-300">Records</a>
            </li>
            <li>
                <a href="#" class="hover:text-gray-300">Login/Logout</a>
            </li>
        </ul>
    </div>
</nav>
