{% extends "../../layouts/base.njk" %}

{% block content %}
<h1>Edit Patient</h1>

{% if errors.general %}
    <p class="alert alert-danger">{{ errors.general }}</p>
{% endif %}

<form method="POST" action="/patients/{{ patient._id }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name:</label>
        {% if errors.name %}
            <p class="text-danger">{{ errors.name }}</p>
        {% endif %}
        <input type="text" id="name" name="name" value="{{ patient.name }}" required>
    </div>

    <div class="form-group">
        <label for="surname">Surname:</label>
        {% if errors.surname %}
            <p class="text-danger">{{ errors.surname }}</p>
        {% endif %}
        <input type="text" id="surname" name="surname" value="{{ patient.surname }}" required>
    </div>

    <div class="form-group">
        <label for="birthDate">Birth Date:</label>
        {% if errors.birthDate %}
            <p class="text-danger">{{ errors.birthDate }}</p>
        {% endif %}
        <input type="date" id="birthDate" name="birthDate" value="{{ patient.birthDate | date('yyyy-MM-dd') }}" required>
    </div>

    <div class="form-group">
        <label for="address">Address:</label>
        {% if errors.address %}
            <p class="text-danger">{{ errors.address }}</p>
        {% endif %}
        <input type="text" id="address" name="address" value="{{ patient.address }}">
    </div>

    <div class="form-group">
        <label for="insuranceNumber">Insurance Number:</label>
        {% if errors.insuranceNumber %}
            <p class="text-danger">{{ errors.insuranceNumber }}</p>
        {% endif %}
        <input type="text" id="insuranceNumber" name="insuranceNumber" value="{{ patient.insuranceNumber }}" required>
    </div>

    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control" name="image" />
    </div>

    <button type="submit" class="button">Save Changes</button>
</form>

<a href="/patients/{{ patient._id }}">Cancel</a>
{% endblock %}
