{% extends "../../layouts/base.njk" %}

{% block content %}
    <h1>Records List</h1>

    <!-- Search Form -->
    {# #TODO Make this a reusable component and add it to menu.njk #}
    <form method="GET" action="/records/">
        <label for="searchSurname">Search by Surname:</label>
        <input type="text" id="searchSurname" name="surname" value="{{ filter.surname or '' }}" placeholder="Enter surname">

        <button type="submit" class="button">Search</button>
    </form>

    {% if records.length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Patient Surname</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record.patient.name }}</td>
                    <td>{{ record.patient.surname }}</td>
                    <td>
                        <!-- View Details Button -->
                        <a href="/records/{{ record._id }}" class="button">View Details</a>

                        <!-- Add Appointment Button -->
                        <a href="/records/{{ record._id }}/appointments/new" class="button">Add Appointment</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No records available to display.</p>
    {% endif %}
{% endblock %}
